body>footer {
    position: sticky;
    top: 100vh;
}

.footer {
    top: 100vh;
    height: 10em;
    width: 100%;
    color: white;
    background-color: var(--darkest);
    border-top: 10px double var(--red);
    display: flex;
    font-size: 2em;
    justify-content: center;

}

.footer-text {
    text-align: center;
    margin-top: 3em;
    font-size: 1.5rem;
}