.hero-content {
    width: 100%;
}

.hero-img {
    width: 95vw;
    height: 70vh;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    filter: saturate(1.3) brightness(1.5) grayscale(0.45);
}

.hero-title,
.hero-subtitle {
    letter-spacing: .2rem;
}

.grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.class-card {
    margin: 2rem;
}

.background {
    background-color: black;
    color: white;
    font: inherit;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

@media screen and (max-width: 770px) {
    .hide {
        display: none;
    }
}