.logo {
    height: 230px;
}

.desktop-nav-btn {
    color: var(--french-gray);
    text-decoration: none;
}

.mobile-nav-btn,
.contact-links {
    color: var(--darkest);
    text-decoration: none;
    font-weight: 900;
}